body{
  background-image: url("background.jpg");
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}

#trasparenza{
  margin: auto;
  width: 65%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding-bottom: 5%;
}

header{
  font-size: 30px;
  color: rgb(0, 221, 18);
  margin: auto;
  text-align: center;
}

nav, main{
  margin-right: 10%;
  margin-left: 10%
}

nav{
  padding: 8px 0px;
  margin: 0px 10%;
  text-align: center;
  background-color: rgb(0, 221,0)
}

h3{
  display: inline-block;
  padding: 0px;
  box-sizing: border-box;
  margin-bottom: 5px;
  margin-top: 3%;
}

span{
  font-size: 12px;
  display: block
}


span, h3{
  color: white;
}



img{
  margin-top: 60px;
  width: 20%;
}
/* inizio barre carica */
.barra{
  border-radius: 5px;
  overflow:hidden;
  height: 20px;
}

.scarica{
  background: rgb(190, 65, 65);
  width: 10%
}

.piena{
  background: rgb(30, 195, 30);
  width: 70%
}

.mezza{
  background: rgb(245, 180, 83);
  width: 40%
}
/* fine barre carica */
button{
  font-size: 10px;
  width: auto;
  height: auto;
}
